{% assign number = include.number | times: 1.0 %}
<span class="word-count" title="{{number | floor}} words" data-bs-toggle="tooltip">

    {% if number < 1000.0 %}
        {{number | floor}}
    {% elsif number >= 1000.0 and number < 1000000.0 %}
        {{number | divided_by: 1000 | round: 1 }}k
    {% elsif number >= 1000000.0 and number < 1000000000.0 %}
        {{number | divided_by: 1000000 | round: 1 }}m
    {% elsif number >= 1000000000.0 and number < 1000000000000.0 %}
        {{number | divided_by: 1000000000 | round: 1 }}b
    {% else %}
        {{number | divided_by: 1000000000000 | round: 1 }}t
    {% endif %}

</span>