
@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Nunito&family=Varela+Round&family=Space+Mono&display=swap');

// $font-family-sans-serif: 'Cantarell', sans-serif;
$font-family-sans-serif: 'Nunito', sans-serif;
$headings-font-family:   'Varela Round', sans-serif;
$font-family-code:       'Space Mono', 'monospace';

// p {
//     letter-spacing: -0.3px;
// }