
#site-header {
    background-color: darkcyan;
}

#site-header-brand {
    font-size: xx-large;
    transition: color 0.2s;
}

.header-link {
    text-decoration: none;
}

#header-colour-select-dropdown {
    margin-left: auto;
}

#header-inner-nav {
    width: 100%;
}