
#site-header {
    background-color: darkcyan;
}

#site-header-brand {
    font-size: xx-large;
    transition: color 0.2s;
}

.header-link {
    text-decoration: none;
}

.header-img {
    display: inline;
    width: 60px;
    height: 60px;
    margin-bottom: -11px;
    margin-right: 10px;
}

#header-search-box {
    margin-left: auto;
}

#header-inner-nav {
    width: 100%;
}

#header-search-form {
    width: 300px;
}

@media (max-width: 767px) {
    #header-search-box {
        width: 100%;
    }
    #header-search-form {
        width: calc(100vw - 2rem);
    }
    #header-search-collapse {
        margin-left: 0;
    }
    #header-search-collapse:not(.show):not(.collapsing) {
        display: block;
        visibility: hidden;
    }
}