.icon-table-icon-container {
    width: 82px;
    height: 82px;
}
.icon-table-icon {
    object-fit: contain;
    padding: 0.1rem;
}
.icon-table td {
    padding-bottom: 2px;
    padding-right: 10px;
}