---
layout: page
---

{{content}}
<a class="btn btn-primary" href="/posts/">Back to Posts</a><br><br>

{% if site.tags.size == 0 %}
    <p>There are no tags to show!</p>
{% else %}
    <table class="post-table">
        {% for tag in site.tags %}
        <tr>
            <td><a class="badge text-bg-info post-tag" href='/posts/tags/{{tag[0] | replace: " ","-"}}''>{{tag[0]}}</a></td>
            <td class="text-body-tertiary">({{tag[1].size}} posts)</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}