---
layout: default
---

<h1>{{ page.title }}</h1>
<div class="post-details"><span class="post-details-text">Published {{page.date | date_to_long_string}} by {{page.author}}</span></div>
{% if page.edit_date %}
<div class="post-details"><span class="post-details-text">Last edited {{page.edit_date | date_to_long_string}}</span></div>
{% endif %}
{% assign num_words = content | number_of_words %}
<div class="post-details"><span class="post-details-text"> {% include humanise.html number = num_words %} words, {% include reading_time.html content = page.content %}</span></div>
<div class="post-details"><span class="post-details-text">Tags: </span>{% for tag in page.tags %}<a class="badge text-bg-info post-tag" href='/posts/tags/{{tag | replace: " ","-"}}''>{{tag}}</a> {% endfor %}</div>

<br>

{% if page.toc %}
    <h2>Table of Contents</h2>
    {% toc %}
{% endif %}

<hr>

{{ content }}

{% if page.enable_related %}
{% if site.related_posts.size >= 1 %}
<hr>
<h1>Related Posts</h1>
<table class="related-posts icon-table">
    {% for related_post in site.related_posts limit: 3 %}
        <tr>
            <td class="icon-table-icon-container">
                {% if related_post.image %}
                    <a href='{{related_post.url}}'>
                        <img src="{{related_post.image}}" class="icon-table-icon img-thumbnail">
                    </a>
                {% endif %}
            </td>

            <td><a href='{{related_post.url}}'>{{related_post.title}}</a></td>
            
            {% if related_post.date %}
                <td class="text-body-tertiary">{{related_post.date | date_to_long_string}}</td>
            {% else %}
                <td class="text-body-tertiary">Unknown Date</td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
{% endif %}
{% endif %}