---
layout: page
---

{{content}}
<br><br>
<a class="btn btn-primary" href="/posts/tags/"><i class="bi bi-tags-fill"></i> Tags</a>
<a class="btn btn-primary" href="/posts/archive/"><i class="bi bi-archive-fill"></i> Archive</a>
<!-- <a class="btn" style="background-color: #fd7e14; color: white" href="/feed.xml"><i class="bi bi-rss-fill"></i> RSS Feed</a> -->
<a class="btn btn-primary" style="border-color: #d36912; background-color: #fd7e14; color: white" href="/feed.xml"><i class="bi bi-rss-fill"></i> Atom Feed</a><br><br>


{% if paginator.posts.size == 0 %}

    <p>There are no posts to show!</p>

{% else %}

    <!-- This loops through the paginated posts -->
    {% include posts.html posts=paginator.posts %}

    {% include paginator_nav.html paginator=paginator list_url="/posts/" %}

{% endif %}